# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Reander README.md document
      env:
        GIT_NAME: ListenLove
        GIT_EMAIL: ${{ secrets.GIT_EMAIL }}
        REPO: github.com/ListenLove/note-blog
        GH_TOKEN: ${{ secrets.RENDER_README }}
      run: |
        git config --global user.name $GIT_NAME
        git config --global user.email $GIT_EMAIL
        npm run start
        git add .
        git commit -m "生成项目主页 README.md 文档至主页"
        git push --force --quiet "https://$GH_TOKEN@$REPO" HEAD:ListenLove-patch-1

